.liked{
    color: #b91206;
}

.projetos{
    background: #3f3f3f;
    color: #fff;
}

.likes{
    background: #3e298e;
    color: #fff;
}
.user_on{
    background: #fff;
    color: black;
}

.on{
    background: #311a68;
    color: #fff;
}

.share{
    background: #1a9e02;
    color: #fff !important;
}

.mat-text-primary {
    color: #311a68 !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}
.mat-input-element:disabled {
    color: rgb(26, 104, 46) !important;
}